<form>
  <h4></h4>
  <mat-form-field>
    <mat-select placeholder="Pretrazi po" [(ngModel)]="selectedValue1" name="tip">
      <mat-option *ngFor="let tip of tipovi" [value]="tip.value">
        {{tip.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-select placeholder="Vrsta pretrage" [(ngModel)]="selectedValue2" name="vrsta">
      <mat-option *ngFor="let vrsta of vrste" [value]="vrsta.value">
        {{vrsta.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button routerLink="/upload">Upload new file</button>

</form>

