<mat-toolbar color="black">
  <mat-toolbar-row>
    <span>Naucna centrala</span>
    <span class="example-spacer"></span>
    <button mat-button>Logout </button>
  </mat-toolbar-row>
  </mat-toolbar>
Pretrazi po nazivu magazina <br>
<mat-form-field class="example-full-width">
  <input matInput placeholder="Unesite rec" value="">
</mat-form-field>
<button mat-button>PRETRAZI</button>

 <br>
Pretrazi po naslovu rada <br>
 <mat-form-field class="example-full-width">
  <input matInput placeholder="Unesite rec" value="">
</mat-form-field>
<button mat-button>PRETRAZI</button>

<br>
Pretrazi po autoru  <br>
<mat-form-field class="example-full-width">
  <input matInput placeholder="Unesite rec" value="">
</mat-form-field>
<button mat-button>PRETRAZI</button>

<br>
Pretrazi po kljucnim pojmovima  <br>
<mat-form-field class="example-full-width">
  <input matInput placeholder="Unesite rec" value="">
</mat-form-field>
<button mat-button>PRETRAZI</button>


<br>
Pretrazi po naucnoj oblasti <br>
<mat-form-field class="example-full-width">
  <input matInput placeholder="Unesite rec" value="">
</mat-form-field>
<button mat-button>PRETRAZI</button>

<br>
Pretrazi po koautorima  <br>
<mat-form-field class="example-full-width">
  <input matInput placeholder="Unesite rec" value="">
</mat-form-field>
<button mat-button>PRETRAZI</button>

<br>
Pretrazi po recezentima  <br>
<mat-form-field class="example-full-width">
  <input matInput placeholder="Unesite rec" value="">
</mat-form-field>
<button mat-button>PRETRAZI</button>